@using Core.Models.Question
@model QuestionPositionsModel

@{
    ViewData["Title"] = "AssignQuestionToPosition";
    SelectList positionsList = new SelectList(ViewBag.positions, "ID", "Title");
}

<form method="post" asp-antiforgery="true" class="class=" border border-light p-4"">
    <div class="form-group">
        <select asp-for="PositionsId" asp-items="positionsList" class="selectpicker form-control" multiple data-live-search="true">
           
        </select>

        
    </div>

</form>
